- 
  var navLinks = [
    {url: '#', name: 'Главная'},
    {url: '#promo', name: 'Акции'},
    {url: '#catalog', name: 'Каталог'},
    {url: '#contacts', name: 'Контакты'},
  ]
  var navLinksMafin = [
    {url: '#walthmanag', name: 'Advantages'},
    {url: '#usemafinforfree', name: 'Calculator'},
    {url: '#chooselevelofrisk', name: 'How it works'},
    {url: '#yourfunds', name: 'Security'},
    {url: '#avarded', name: 'Awards'},
    {url: '#downloadmafin', name: 'Download'},
  ]

  